@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap");

@import url(https://assets.website-files.com/6465ef4a3ebaf6d1094d9e5b/6466041dee5ad19ad3126185_hero%20circle.png);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
}
body {
  background-color: #fff;
  font-family: Poppins, sans-serif;
}
.container {
  overflow: hidden;
}
button {
  padding: 14px 24px;
  border-radius: 30px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
/* *****************************HEADER  STYLE*/
.header {
  margin: 0 9.6px;
  padding: 10px 0;
}
/* .hero_section {
  position: relative;
  background-image: url(https://assets.website-files.com/6465ef4a3ebaf6d1094d9e5b/6466041dee5ad19ad3126185_hero%20circle.png);
  background-position: 100%;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  margin-top: -56px; 
  padding: 11px 72px;
  height: 100vh;
} */
.navigation {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding-bottom: 10px;
}
.nav_content {
  display: flex;
  align-items: center;
}
.nav_content img {
  width: 140px;
  height: 39px;
  margin-right: 20px;
  padding: 0;
}
.navbar_links ul {
  display: flex;
  align-items: center;
}
.navbar_links ul li a {
  font-size: 16px;
  padding: 24px 11.2px;
  color: #222;
  font-weight: 500;
  transition: 0.5s ease;
  cursor: pointer;
}
.navbar_links ul li a:hover {
  color: #6e45e9;
}
#btn {
  background-color: #222;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease;
}
#btn:hover {
  background-color: rgb(110, 69, 233);
}
#btn a {
  font-size: 16px;
  color: #fff;
}
.navigation-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  border: 1px solid #bbb;
  border-radius: 50%;
  padding: 12px;
  font-size: 46px;
}

/* ***************************** navbar_links */
.nav_menu {
  /* background-color: #006b52; */
  background-color: #000;
  width: 46px;
  left: 46;
  border: none;
  color: #fff;
  display: none;
}

/*  ******************************** HOME STYLE */

.home {
  margin-top: 100px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
}

.home_content h2 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  opacity: 1;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#000 44%, #757575 76%, #dfdfdf);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Poppins, sans-serif;
  font-weight: 300;
}
.home_content {
  margin-bottom: 3rem;
}
.home_content p {
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
}
.btn1 {
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-color: #6e45e9;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s ease;
}
.btn1:hover {
  background-color: #421abb;
}
.btn2 {
  font-size: 16px;
  background-color: #fff;
  border: 1px solid#000;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}
.btn2:hover {
  background-color: #2c2c2c;
  color: #fff;
}
.specialist {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.specialist img {
  width: 67px;
  height: 67px;
}
.specialist_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.specialist_info span {
  font-size: 14px;
}
.specialist_info a {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  color: #000;
}

.home_img img {
  width: 645px;
  height: 536px;
}

/* ========== -DEMO STYLE-============*/
.demo_section {
  display: grid;
  grid-template-columns: 1.75fr 1fr;
  align-items: center;
  gap: 6.25rem;
  margin: 7rem 0;
  padding: 0px 72px;
}

.demo_logos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 1.5rem 0;
}
.demo_logos p {
  color: #fff;
  padding: 30px 40px;
  margin-right: 2rem;
  font-size: 30px;
}

.demo_component {
  position: relative;
  height: 487px;
}
.demo_component video {
  position: absolute;
  top: 0;
  left: 0;
  width: 758px;
  object-fit: cover;
  /* height: 486px; */
  height: fit-content;

  border-radius: 25px;
  overflow: hidden;
}
.demo_content h1 {
  font-size: 3.5rem;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1.1rem;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#000 51%, #d6d6d6 84%, #c7c7c7);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Poppins, sans-serif;
  font-weight: 300;
}
.demo_content p {
  font-size: 1.125rem;
  line-height: 1.52;
}
/* ================- INTERGRATE SECTION- ============= */
.section {
  margin: 7rem 0;
  padding: 0 72px;
}
.integrate-heading {
  text-align: center;
  font-size: 3.5rem;
  padding-top: 80px;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#000 40%, #6b6b6b 72%, #dfdfdf);
  -webkit-background-clip: text;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  margin-bottom: 2rem;
}
.integer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12rem;
  padding: 3rem 0;
}
.integer-content img {
  width: 77px;
  margin-bottom: 1rem;
}
.integer-content h5 {
  font-size: 1.5rem;
  margin-bottom: 1rem;

  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#000 40%, #6b6b6b 72%, #dfdfdf);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Poppins, sans-serif;
  font-weight: 300;
}
.integer-content span {
  font-size: 1rem;
  line-height: 1.5;
}
/* =================- MINIMIZE-SECTION / business / - ============= */
.minimize_content {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  align-items: center;
}
.minimize_content span {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  text-align: left;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#000 40%, #6b6b6b 72%, #dfdfdf);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Poppins, sans-serif;
  font-weight: 300;
}
.minimize_content ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 1.5rem;
}
.minimize_content ul li {
  display: flex;
  align-items: center;
  column-gap: 9px;
}

.minimize_content img {
  width: 431px;
  height: 409px;
}
/*  - REUSBLE CODE IN MINIMIZE / BUSINESS / CLIENT - */
.markIcon {
  width: 33px;
  height: 32px;
}
.btn-group {
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn-group .btn {
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 200px;
  padding: 12px 24px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s ease;
  cursor: pointer;
}
.btn-group .btn:hover {
  background-color: #f1efef;
}
.btn_link {
  display: flex;
  align-items: center !important;
  flex-direction: row;
  gap: 0.5rem;
}
.btn_link a {
  font-size: 16px;
  color: black;
  font-weight: 500;
}
.rightArrow {
  width: 21px;
  height: 21px;
  margin-top: 7px;
}
/*  END - REUSBLE CODE IN MINIMIZE / BUSINESS / CLIENT - */

/* =================-BUSINESS-SECTION / - ============= */
.business_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.business_content span {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  text-align: left;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#000 40%, #6b6b6b 72%, #dfdfdf);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Poppins, sans-serif;
  font-weight: 300;
}
.business_content ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 1.5rem;
}
.business_content ul li {
  display: flex;
  align-items: center;
  column-gap: 9px;
}
.business-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.business_content img {
  width: 456px;
  height: 443px;
}
/* =================-CLIENT-SECTION / - ============= */
.client_content {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.client_content span {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  text-align: left;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#000 40%, #6b6b6b 72%, #dfdfdf);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Poppins, sans-serif;
  font-weight: 300;
}
.client_content ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 1.5rem;
}
.client_content ul li {
  display: flex;
  align-items: center;
  column-gap: 9px;
}
.client_img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client_content img {
  width: 435px;
  height: 443px;
}
/* =================-RESOURCES-SECTION - ============= */
.resourses-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 64px;
}
.resourses-heading span {
  font-size: 56px;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#000 40%, #6b6b6b 72%, #dfdfdf);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  margin-bottom: 24px;
}
.resourses-heading p {
  font-size: 18px;
}
/* =================-CARD-SECTION / - ============= */
.card_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 29px;
  row-gap: 43px;
}
.box {
  background-image: linear-gradient(163deg, #fff 66%, #f3f3f3);
  border: 1px solid #e9e9e9;
  border-radius: 15px;
  overflow: hidden;
}
.cardImg {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
.box_content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.R-btn {
  font-weight: 400;
  font-size: 14px;
  padding: 8px;
  background-color: #e4e4e4;
  border-radius: 200px;
}
.box_content h1 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.box_content p {
  font-size: 16px;
  height: 49px;
  overflow: hidden;
}
.auther {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.auather-content {
  display: flex;
  flex-direction: column;
}
.auather-content span {
  font-size: 14px;
}
.date {
  display: flex;
  align-items: center;
  gap: 7px;
}
.auther img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
/* =================-SECTION-SECTION / - ============= */
.support_section {
  background-color: #000;
}
.support_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 16rem;
}
.support_content span {
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  /* background-image: linear-gradient(#fff, #d6d6d6 63%, #797979); */
  color: #fff;
}
.support_content p {
  font-size: 18px;
  text-align: center;
  margin-top: 1.5rem;
  color: #fff;
}
.support-btn {
  background-color: #6e45e9;
  border: 1px #000;
  border-radius: 200px;
  padding: 0.75rem 1.5rem;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  margin-top: 2rem;
  color: #fff;
  font-size: 16px;
}
/* ================= -FOOTER- ============= */
.footer {
  margin-top: 7rem;
  margin-bottom: 5rem;
  padding: 0 72px;
}
.footer_content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

/* left footer side */
.left_side {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.left_side img {
  width: 135px;
  margin-bottom: 18px;
}
.left_side h6 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
}
.left_side span {
  font-size: 14px;
}
.left_side p {
  font-size: 14px;
  text-decoration: underline;
}
.socialMedia {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  font-size: 20pxs;
  margin-top: 18px;
}
.socialIcon {
  font-size: 20px;
}
/* right side of the footer */
/* .footer-links {
  display: flex;
  gap: 1rem;
}
.footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-left: 20px;
}
.footer-links li a {
  font-size: 17px;
  color: #000;
  line-height: 2.5;
} */
/* rigth side way in other way styling */
.footer_item_links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.links-footer {
  display: flex;
  flex-direction: column;
}
.links-footer a {
  font-size: 16px;
  padding-top: 8px;
  color: #000;
  margin-bottom: 0.7rem;
  transition: 0.5s ease-in;
  cursor: pointer;
}
.links-footer a:hover {
  color: #421abb;
}
.footer-btn {
  background-color: rgba(110, 69, 233, 0.11);
  border-radius: 8px;
  padding: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.footer-btn :hover {
  color: #6e45e9;
}

/* THE END */
.footer_end {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}
.footer_end p {
  font-size: 16px;
}
.footer_end span {
  text-decoration: underline;
  cursor: pointer;
}
.footer_end ul li {
  display: flex;
  gap: 2rem;
}

.footer_end ul li a {
  font-size: 14px;
  color: #000;
  text-decoration: underline;
}
/*  extra */
.extra {
  z-index: 999999;
}
.hire_us {
  position: relative;
  width: 100%;
  max-width: 310px;
  background-color: #000;
  border-radius: 8px;
  position: fixed;
  bottom: 5px;
  left: 5px;
}
.hire-us-wrapper {
  border-radius: 8px;
  padding: 15px;
  position: relative;
}
.hire-us-text {
  width: 90%;
  color: #fff;
  font-size: 0.8rem;
  margin-bottom: 12px;
}
.hire-us-btn {
  color: #fff;
  font-size: 0.8rem;
  border: 1px solid #eee;
  text-align: center;
  padding: 2px;
  text-decoration: underline;
  cursor: pointer;
}
.cross-icon {
  color: #fff;
  position: absolute;
  top: 5%;
  font-size: 1.2rem;
  right: 3%;
  cursor: pointer;
}
/**************** media querise **********************/
@media screen and (max-width: 992px) {
  .section {
    margin: 5rem 0;
    padding: 0 46px;
  }
  .hero_section {
    padding: 0 46px;
  }
  .nav_responsive {
    position: absolute;
    top: 17%;
    left: 0;
    padding-left: 28px;
    padding-top: 28px;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    /* background-color: #421abb; */
  }
  .real_time {
    display: none;
  }
  .nav_responsive ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #fff;
    transition: top 0.3s ease; /* Add a smooth transition effect */
    z-index: 1;
  }
  .nav_responsive ul li a {
    color: #222;
    font-size: 18px;
    font-weight: 600;
  }
  #btn {
    display: none;
  }
  .nav_button {
    width: 100%;
    background-color: black;
  }
  .nav_menu {
    display: block;
    color: #fff;
  }
  .navbar_links {
    display: none;
  }
  .customer_icon {
    display: none;
  }

  /* ---------------------------------home media queries */
  .home {
    grid-template-columns: 1fr;
    align-items: center;
    margin-top: 29px;
  }
  .home_img img {
    display: none;
  }
  .home_content h2 {
    font-size: 3.2rem;
  }
  /* ----------------------------------------demooooo */
  .demo_section {
    padding: 0 46px;
    grid-template-columns: 1fr;
  }
  .demo_content {
    grid-row: 1;
  }
  .demo_section {
    gap: 4rem;
    margin: 5rem 0;
  }
  .demo_component video {
    width: 856px;
    height: auto;
  }
  /*  ------------------------------------intergrated */
  .integer-content {
    column-gap: 27px;
  }
  .integrate-heading {
    padding-top: 46px;
  }

  /*------------------------------------------- minimize */
  .minimize_content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .min-image {
    grid-row: 1;
  }
  /* ---------------------------------------client */
  .client_content {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-top: 1px;
  }
  .client_img-box {
    grid-row: 1;
  }
  /* bussness */
  .business_content {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .business-img-box {
    justify-content: flex-start;
  }
  .client_img-box {
    justify-content: flex-start;
  }
  /* card */
  .card_box {
    grid-template-columns: 1fr 1fr;
  }
  /*-------------------------- foooter */
  .footer_content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .left_side {
    margin-bottom: 4rem;
    gap: 0rem;
  }
  .footer-btn {
    width: fit-content;
  }
  .adressess {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .section {
    margin: 5rem 0;
    padding: 0px 38px;
  }
  .demo_section {
    gap: 3rem;
  }

  .home {
    margin-top: 14px;
  }
  .home_content h2 {
    font-size: 2.35rem;
  }
  .home_content p {
    font-size: 1rem;
  }
  .demo_content h1 {
    font-size: 2.5rem;
  }
  .text-size-medium {
    font-size: 14px;
  }
  .demo_content p {
    font-size: 1rem;
  }
  .demo_component video {
    width: 643px;
    height: auto;
  }
  .integrate-heading {
    text-align: center;
    font-size: 2.3rem;
  }
  .integrate-heading {
    padding-top: 19px;
  }
  .integer-content {
    grid-template-columns: 1fr;
    gap: 2.5rem;
    padding: 1rem 0;
  }
  .minimize_content span {
    font-size: 2rem;
  }
  .business_content span {
    font-size: 2rem;
  }
  .client_content span {
    font-size: 2rem;
  }
  .resourses-heading span {
    font-size: 39px;
  }
  .resourses-heading p {
    font-size: 16px;
  }
  .support_content span {
    font-size: 35px;
  }
  .support_content p {
    font-size: 16px;
  }
  .footer {
    padding: 0px 40px;
  }
  .footer_end {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .footer_end ul li {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 1.5rem;
  }
  .footer_end p {
    font-size: 16px;
    margin-bottom: 2rem;
  }
  @media screen and (max-width: 479px) {
    .section {
      padding: 0px 22px;
      margin: 2rem 0;
    }
    .hero_section {
      margin-top: -56px;
      padding: 70px 27px;
      height: 100vh;

      background-position: 10%;
      background-position-x: right;
      background-repeat: no-repeat;
      background-size: contain;
      overflow: hidden;
    }
    .home_content h2 {
      font-size: 2.31rem;
    }
    .demo_section {
      margin: 4rem 0;
      padding: 0 26px;
    }
    .demo_component video {
      width: 427px;
      height: auto;
      /* object-fit: cover; */
    }
    .minimize_content span {
      font-size: 2.1rem;
    }
    .minimize_content img {
      width: 403px;
      height: 385px;
    }
    .business_content span {
      font-size: 2.1rem;
    }
    .business_content img {
      width: 403px;
      height: 385px;
    }
    .client_content span {
      font-size: 2.1rem;
    }
    .client_content img {
      width: 403px;
      height: 385px;
    }
    .resourses-heading p {
      font-size: 16px;
      text-align: center;
    }
    .resourses-heading span {
      margin-bottom: 15px;
    }
    .card_box {
      grid-template-columns: 1fr;
    }
    .support_content span {
      font-size: 38px;
    }
    .support_content p {
      font-size: 17px;
    }
    .footer {
      padding: 0px 25px;
    }
  }
}
@media screen and (max-width: 375px) {
  .demo_section {
    padding: 0 17px;
  }
  .home_content h2 {
    font-size: rem;
  }
  .home-btn-container {
    display: flex;
  }
  button {
    padding: 10px 24px;
    border-radius: 30px;
  }
  .btn1 {
    font-size: 13px;
  }
  .home {
    margin-top: 3px;
  }
  .demo_logos {
    padding: 8px 0;
  }
  .demo_component video {
    width: 341px;
    height: auto;
  }
  .demo_component {
    position: relative;
    height: 209px;
  }
  .minimize_content img {
    width: 326px;
    height: auto;
  }
  .business_content img {
    width: 326px;
    height: auto;
  }
  .client_content img {
    width: 326px;
    height: auto;
  }
  .support_content span {
    font-size: 35px;
  }
  .support_content p {
    font-size: 15px;
  }
  .section {
    padding: 0px 25px;
  }
  .footer_item_links {
    gap: 2rem;
  }
  .nav_responsive {
    top: 11%;
  }
}

